<div class="container">
  <div class="row">
    <div class="col-md-3 mb-5">
      <%= render 'layouts/list' %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user_id) do %>
                <%= image_tag @book.user.get_profile_image(100,100) %><br>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td><%= link_to @book.title, book_path(@book.id) %></td>
            <td style="word-break: break-all;"><%= @book.body %></td>
            <%if @book.user.id == current_user.id %>
              <td><%= link_to "Edit" ,edit_book_path(@book.id), class: "btn btn-success" %></td>
              <td colspan="3"><%= link_to "Destroy", book_path(@book.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>